
             h1{
        color:yellow;
    }
    *{
        border:solid
    }
    .header{
        background-color:pink;
        display:flex;
        justify-content:space-between;
        }
    .origami{
        border-radius:20px;
        background-color:blueviolet;

        width:310px;
        font-family:fantasy;
    }
    .menu{
        display:flex;
        justify-content:space-between;
        background-color:chocolate;
        font-size:20px;
        font-family:sans-serif;
        font-weight:400;
        color:darkred;
    }
    .body{
        background-color:rosybrown;
    }
